.navbar__items{
  align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgba(247,245,245 ,0.4);
}
.nav__items{
    flex: 0.50;
    display: flex;
    justify-content:space-around;
    padding: 10px
}
.list_light{
    list-style: none;
    padding: 10px;
    font-family:'Verdana';
    font-weight: 400;
    
}
.list_dark{
    list-style: none;
    padding: 10px;
    font-family:'Verdana';
    font-weight: 400;
    color: white;

}
.list_light:hover{
    cursor: pointer;
    background-color: rgba(237, 233, 232,1);
    border-radius: 5px;
}
.list_dark:hover{
    cursor: pointer;
    background-color: rgb(52, 52, 52);
    border-radius: 5px;
}

.list_light:active{
    transition: all 400ms ease-in;
    transform :scale(0.8) ;
   
}
.list_dark:active{
    transition: all 400ms ease-in;
    transform :scale(0.8) ;

}
.expand{
    display: none;
}
a{
    text-decoration: none;
    color:"grey"
}
a::visited{
    color:"gray"
}
.logo{
    flex:0.45;
}


@media screen and (max-width: 776px) {
  
    .nav__items{
        display:flex;
        flex-direction:column;
    }
    .logo{
        display: none;
        flex:0
    }
    .expand{
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        margin: 10px;
        background-color: beige;
        border-radius:10px
    }
    .nav__items{
        display: none;
        width: 20vh;
        margin-top: 5vh;
    }

    .navbar{
        position: absolute;
        right: 0;
        z-index: 999;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 0;
         
      
    }
    .navbar__items{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    
    }
    .navbar{
        padding: 0;
    }
    .list_light:hover{
        cursor: pointer;
        background-color: rgba(237, 233, 232,1);
        border-radius: 5px;
    }
    .list_dark:hover{
        cursor: pointer;
        background-color: rgb(52, 52, 52);
        border-radius: 5px;
    }

    .list_light{
        list-style: none;
        width: 100%;
        font-family:'Verdana';
        font-weight: 400;
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
        
    }
    .list_dark{
        list-style: none;
        font-family:'Verdana';
        font-weight: 400;
        color: 'white';
        border-bottom: 1px solid grey;
        width: 100%;
        margin-bottom: 20px;
    }

        

  }
