.skills__graph{
    margin-top:10vw;
    flex:0.80;
}
.skills{
    display: flex;
   
}
.skills__name{
    flex: 0.20
}
.skill{
    font-size: 9vw;
    padding: 0;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      padding: 0;
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 10s linear infinite alternate-reverse;
      display: inline-block;
          font-size: 5vw;
          font-family:'Verdana';
    margin-left:10vw
    
}

.skill_desc{
    font-size:1.8vw;
    margin: 2vw;
    color: whitesmoke
}


@media screen and (max-width: 776px) {
    .skills{
        display: flex;
        flex-direction:column;
        align-items:center;
        margin-left: -1vw;
    }
 
}
