*{
  margin: 0
}
.brief__div{
  margin-left:50px;
  margin-bottom: 50px;
}
.skills__div{
  /* margin-top: 10vw; */
  /* background: linear-gradient(white ,rgb(115, 114, 114)); */
  padding-bottom: 10vw;
 
}
.skills__div_light{
  margin-top: 10vw;
  /* background: linear-gradient(rgb(115, 114, 114),rgb(81, 81, 81)); */
  padding-bottom: 10vw;
}
.projects__div{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
  background: linear-gradient(white,whitesmoke);
  padding-bottom: 10vw;
}
.projects__div_light{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  background: linear-gradient(rgb(44, 43, 43),rgb(42, 41, 41));
  padding-bottom: 10vw;
}
.App_light{
  background: linear-gradient(rgb(44, 43, 43),rgb(42, 41, 41))
}
.darkend{
  color: white;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
.lightend{
  color:gray;
  font-family: cursive;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}
@media screen and (max-width: 776px) {
  .App{
  display: flex;
  flex-direction: column;
  
}
.App_light{
  display: flex;
  flex-direction: column;
  background-color: black;
}
.skills__div{
  display: grid;
  align-items: center;
  justify-content: center;
}
.projects__div{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  background: linear-gradient(white,whitesmoke);
  padding-bottom: 10vw;
}

}
